@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding:0;
  border:border-box;
}

.navbar-container{

}
.bg-top-menu{
  background-color:#8ccaee;
  display: flex;
  justify-content: center;
}
.bg-logo-menu{
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: rgb(240, 240, 240);
  
}
.logo-menu{
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
 
}
.extra-menu{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin:0 !important;
  padding:0 20px !important;
  
}

.first-icon{
  border-left: 1px solid rgba(228, 252, 228, 0.434);
  border-right: 1px solid rgba(228, 252, 228, 0.434);
}
.others-icon{
  border-right: 1px solid rgba(228, 252, 228, 0.434);
}
.text-menu-extra, .menu-principal{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
.menu-principal{
  color: #4b56a6;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.menu-principal .active{
  color:#51284f;
  
}
.btn-top{
  display: flex;
  align-items: center;
  background-color: black;
  padding: 15px 25px;
  border-radius: 30px;
  color:white;
  transition: background-color 0.3s ease-in-out;
}
.btn-top:hover{
  background-color: #3d84ac;
  

}
